/*.product{
    padding: 10px;
    border: 2px solid red; 
    margin: 10px;
    border-radius: 15px;
}
.product img{
    height: auto;
    width: 100%;
}*/
/*hero background*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family:'poppins', sans-sarif;
    box-sizing:border-box ;
}
#header {
    background-image: url(img/background.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.navbar {
    width: 100%;
    height: 10vh;
    background-color: black;
    opacity: 0.8;
}
.logo_web{
    color: aliceblue;
    font-size: 25px;
    font-weight: 700;
    opacity: 1;
}
.logo_web span {
    color: blueviolet;
}
.navbar-item {
    margin: 0px 6px;
}
.nav-link {
    color: aqua;
    font-weight: 500;
    font-size: 12px !important;
    text-transform: uppercase;
}
.nav-link:hover, .active {
    columns: yellow, !important;
}
.btn_navbar{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid green;
    padding: 8px 30px;
    border-radius: 2px;
    cursor: pointer;
    margin: 0px 8px;
    position: relative;
}
.btn_navbar span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: yellow;
    z-index: -1;
    transition: 0.5s ease-out;
}
.btn_navbar:hover{
    color: rgb(55, 0, 255);
}
.btn_navbar:hover span {
    width: 100%;

}
/*nav bar complete*/
.home_selection {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}
.heading_sm {
    font-size: 42px;
    color: blueviolet;
    font-weight: 400;
    text-transform: uppercase;
    margin: 8px 8px;
}
.heading_lg {
    color: blueviolet;
    font-size: 71px;
    font-weight: 800;
    text-transform: uppercase;
}
.heading_md {
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(255, 0, 255);
    margin: -10px 11px;

}
.para_home {
    color: black;
    font-weight: 500;
    max-width: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 29px 8px;
}
.btn_home {
    display: inline-block;
    padding: 8px 24px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(43, 226, 70);
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.534);
    border-radius: 2px;
    margin: 0px 3px;
    transition: 0.2s ease-out;
}
.btn_home:hover {
    background-color: rgb(206, 177, 31);
    padding: 9px 24px;
    border: none;
}
.btn_2 {
    background-color: rgb(31, 156, 206);
    border: none;
    padding: 9px 24px;
    margin: 0px 3px;
}
.fa {
    padding: 20px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook {
    background-color: #3B5998;

}
.social_icon:hover {
    color: aqua;
}
/*about us section*/
.about {
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.heading_about {
    display: inline-block !important;
    font-size: 31px;
    font-weight: 500;
    color: aliceblue;
    text-align: center !important;
    margin-bottom: 64p;
    position: relative;
}
.heading_about::after{
    content: '';
    position: absolute;
    border: 3px solid yellowgreen;
    bottom: -9px;
    left: 50px;
    transform: translateX(-50%);
    width: 58px;
    border-radius: 11px;
}
.heading_about span{
    color: yellow;
}
.about_img {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.about_img:before {
    content: '';
    position: absolute;
    bottom: -21px;
    right: 42px;
    width: 55%;
    height: 80%;
    background-color: rgb(255, 0, 255);
    z-index: -1;
}
.about_img::after {
    content: '';
    position: absolute;
    top: -21px;
    left: 42px;
    width: 55%;
    height: 80%;
    background-color: rgb(255, 0, 255);
    z-index: -1;
}
.image_about {
    width: 320px;
    height: 320px;
    background-image: url(img/NIGCOMSAT-facility.jpg);
    background-position: center;
    background-size: cover;
}
.heading_about_contant {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1%;
    color: rgb(43, 226, 70);
    margin-bottom: 7px;
}
.para_content_about {
    font-size: 17px;
    line-height: 21px;
    color: aliceblue;
}
.para_content_about span{
    color: rgb(206, 177, 31);
}
.our_details {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 3px opx;
}
.items_details {
    margin: 10px 0px;
    list-style: none;
    color: rgb(195, 226, 43);
    font-size: 12px;
}
.items_details span{
    color: rgba(255, 255, 255, 0.534);
    margin: 0px 3px;
}
.our_details a {
    margin: 0px 7px;
    color: rgba(255, 255, 255, 0.534);
    cursor: pointer;
}
.btn_content_about{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(195, 226, 43);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 9px 26px;
    margin: 10px 0px;
}
.btn_content_about:hover {
    background-color: red;
}
/* about me finish*/
.services {
    width: 100%;
    height: 66vh;
    background-color: black;
    display: flex;
    align-items: center;
}
.heading_sm_service {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: aqua;letter-spacing: 2px;
    margin: 11px 0px;
}
.heading_service {
    font-size: 32px;
    font-weight: 700;
    color: rgba(231, 231, 231, 0.856);
    position: relative;
}
.heading_service::after {
    content: "";
    position: absolute;
    bottom: -14px;
    background-color: aliceblue;
    left: 0px;
    width: 72px;
    height: 3px;
    border-radius: 11px;
}
.para_service {
    font-size: 12px;
    font-weight: 400;
    color: aliceblue;
    max-width: 428px;
    line-height: 32px;
}
.btn_service {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 19px;
    text-transform: uppercase;
    background-color: red;
    color: antiquewhite;
    margin: 8px 0px;
    transition: o.3s ease-out;
}
.btn_service:hover {
    background-color: blue;
}
.content_services_containers {
    width: 218px;
    height: auto;
    background-color: rgb(16, 14, 14);
    background-image: linear-gradient(58deg, rgb(16, 14, 14, 1) 69% rgb(80, 80, 83, 1) 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 9px;
}
.icon_services {
    font-size: 62px;
    color: aquamarine;
}
.heading_service_content {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: aqua;
    margin: 5px 0px;
}
.para_service_content {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: rgb(0, 255, 4);
    margin: 5px 0px;
}
.services-row {
    display: flex;
    justify-content: center;
    text-align: center;
}
.products {
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.container_products {
    width: 100%;
    height: 380px;
    background-color: rgba(26, 25, 25);
}
.image_product {
    width: 100%;
    height: 200px;

}
.img1_product {
    width: 100%;
    height: 100%;
    background-image: url(img/walter.jpg.jpg);
    background-position: center;
    background-size: cover;
}